
.home-page {
    background-color: #e0f7fa; /* Light blue background */
    padding: 20px;
    font-family: sans-serif;
    min-height: 100vh;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
}
  
  .components-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem; /* Adds space between the components */
  }
  
  .garden, .seed-bank {
    width: 48%; /* Each component takes up half of the container */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* If you want to add more specific styling to each component */
  .garden {
    background-color: #f1f8e9; /* Light green for Garden */
  }
  
  .seed-bank {
    padding: 24px;
    font-family: sans-serif;
  }
  
  .seed-bank-header {
    text-align: center;
  }
  
  .title {
    font-size: 1.125rem;
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  
  .book {
    width: 8rem;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .book:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 8px rgba(34, 197, 94, 0.8));
  }
  
  .seed-list-box {
    margin-top: 1.5rem;
    padding: 1rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  
  .seed-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #e5e7eb;
  }
  
  .seed-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .seed-item span { 
      color: black;
  }
  
  .seed-item:last-child {
    border-bottom: none;
  }
  
  .action-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .plant-btn,
  .trade-btn,
  .add-btn {
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: bold;
  }
  
  .plant-btn {
    background-color: #22c55e; /* green-500 */
  }
  
  .plant-btn:hover {
    background-color: #16a34a; /* green-600 */
  }
  
  .trade-btn {
    background-color: #3b82f6; /* blue-500 */
  }
  
  .trade-btn:hover {
    background-color: #2563eb; /* blue-600 */
  }
  
  .add-btn {
      background-color: pink;
  }
  
  .add-btn:hover {
      background-color: #2563eb; /* blue-600 */
    }


