.home-page {
    background-color: #e0f7fa; /* Light blue background */
    padding: 20px;
    font-family: sans-serif;
    min-height: 100vh;
  }
  
.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px ; 
  font-family: bubbly; 
}

.username {
  font-size: 50px !important;  /* Adjust the size as needed */
  color: #333; /* You can adjust the color too */
  font-family: bubbly !important; 
}
  
.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px; 
}

.title {
  font-size: 1.7rem;
  font-family: pixel;
  margin-bottom: 0.5rem;
}

.social-buttons-container {
  position: absolute;
  top: 30px; /* Adjust distance from the top */
  right: 70px; /* Adjust distance from the right */
  display: flex;
  gap: 20px; /* Space between the buttons */
  margin-top: 20px; 
}

.socialpage-button, .chatroom-button {
  background-color: #3b82f6; /* Blue background for buttons */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: bold;
  font-family: pixel;
  font-size: 1rem; 
  transition: background-color 0.3s ease;
}

.socialpage-button:hover, .chatroom-button:hover {
  background-color: #2563eb; /* Darker blue on hover */
}

.chatroom-button img {
  width: 25px; /* Adjust image size if needed */
  height: 25px;
}

  
.components-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* Adds space between the components */
}

.seed-bank {
  width: 48%; /* Each component takes up half of the container */
  height: 0px; 
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  padding: 24px;
  font-family: sans-serif;
}

.seed-item {
  padding: 10px; 
}

.seed-bank-header {
  text-align: center;
}

.book {
  width: 13rem;
}



